In [16]:
### 작업형1 1번 문제 ###

import pandas as pd

df = pd.read_csv('boston.csv')

df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [26]:
a = df.sort_values(by='CRIM', ascending = False)
a.iloc[:9,0] = a['CRIM'].iloc[9]
b = a[a['AGE']>=80]
c = b['CRIM'].mean()
print(c)

5.759386624999999

In [34]:
### 작업형1 2번 문제 ###

import pandas as pd

df1 = pd.read_csv('housing.csv')

# df1

In [49]:
import numpy as np
from sklearn.model_selection import train_test_split

tr, te =  train_test_split(df1, test_size = 0.2, shuffle=False)
# print(tr.isnull().sum())
tr1 = tr.copy()
tr1['total_bedrooms'] = tr1['total_bedrooms'].fillna(tr1['total_bedrooms'].median())
Ans = abs(tr['total_bedrooms'].std() - tr1['total_bedrooms'].std())
print(Ans)

1.975147291645726

In [50]:
### 작업형1 3번 문제 ###

import pandas as pd

df2 = pd.read_csv('insurance.csv')

print(df2.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [54]:
outlier_sum = df2[df2['charges'] >= (df2['charges'].mean() + 1.5*df2['charges'].std())]['charges'].sum()

print(outlier_sum)

6421430.0206699995

In [128]:
### 작업형2 문제 ###

import pandas as pd

X_tr = pd.read_csv('X_tr.csv')
X_te = pd.read_csv('X_te.csv')
y_tr = pd.read_csv('y_tr.csv')

print(y_tr.columns)

Index(['ID', 'Reached.on.Time_Y.N'], dtype='object')

In [61]:
print(X_tr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
ID                     6598 non-null int64
Warehouse_block        6598 non-null object
Mode_of_Shipment       6598 non-null object
Customer_care_calls    6598 non-null object
Customer_rating        6598 non-null int64
Cost_of_the_Product    6598 non-null int64
Prior_purchases        6598 non-null int64
Product_importance     6598 non-null object
Gender                 6598 non-null object
Discount_offered       6598 non-null int64
Weight_in_gms          6598 non-null int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB
None

In [114]:
print(y_tr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 2 columns):
ID                     6598 non-null int64
Reached.on.Time_Y.N    6598 non-null int64
dtypes: int64(2)
memory usage: 103.2 KB
None

In [129]:
y_tr1 = y_tr.drop(columns='ID')

In [89]:
# print(X_tr)

In [130]:
X_tr['Customer_care_calls'] = X_tr['Customer_care_calls'].str.replace('$','').astype('int')
X_te['Customer_care_calls'] = X_te['Customer_care_calls'].str.replace('$','').astype('int')

print(X_tr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
ID                     6598 non-null int64
Warehouse_block        6598 non-null object
Mode_of_Shipment       6598 non-null object
Customer_care_calls    6598 non-null int32
Customer_rating        6598 non-null int64
Cost_of_the_Product    6598 non-null int64
Prior_purchases        6598 non-null int64
Product_importance     6598 non-null object
Gender                 6598 non-null object
Discount_offered       6598 non-null int64
Weight_in_gms          6598 non-null int64
dtypes: int32(1), int64(6), object(4)
memory usage: 541.3+ KB
None

In [131]:
# from sklearn.preprocessing import LabelEncoder

# le = LabelEncoder()
# X_tr1 = le.fit_transform(X_tr)
X_tr = pd.get_dummies(X_tr)
print(X_tr)

         ID  Customer_care_calls  Customer_rating  Cost_of_the_Product  \
0      6045                    4                3                  266
1        44                    3                1                  174
2      7940                    4                1                  154
3      1596                    4                3                  158
4      4395                    5                3                  175
5      1991                    3                3                  139
6      7896                    3                1                  220
7      4338                    3                2                  160
8      3215                    5                2                  145
9     10251                    5                2                  155
10     3724                    3                2                  226
11    10811                    4                3                  256
12     4245                    3                3                  204
13     2810                    3                2                  207
14     4107                    6                1                  274
15     6274                    6                5                  251
16     1759                    3                2                  267
17     9859                    6                3                  166
18     1883                    4                1                  201
19     7191                    5                2                  303
20     9126                    2                4                  204
21     3875                    2                5                  176
22      291                    4                4                  270
23     2225                    4                3                  258
24     6989                    4                5                  133
25     3109                    4                3                  190
26     1919                    4                5                  207
27    10701                    2                5                  277
28     5882                    3                4                  143
29     2934                    6                3                  273
...     ...                  ...              ...                  ...
6568   9179                    4                3                  267
6569   1311                    6                2                  142
6570   7176                    4                4                  242
6571   2244                    4                3                  133
6572   5071                    5                1                  257
6573   1045                    3                3                  205
6574   3164                    5                2                  160
6575   3952                    4                1                  215
6576   6993                    3                4                  198
6577   5174                    3                3                  211
6578    448                    3                4                  194
6579   2372                    4                5                  152
6580   2663                    4                3                  242
6581   5769                    6                4                  266
6582   9476                    3                1                  270
6583   9071                    3                1                  173
6584     86                    3                4                  197
6585   5099                    5                5                  240
6586   6296                    4                3                  240
6587   6378                    3                3                  237
6588   7769                    5                3                  238
6589   2254                    3                5                  134
6590   6641                    4                1                  156
6591   6658                    3                3                  188
6592   6829                    5                4                  244
6593   8610                    5                2                  221
6594   3390                    4                5                  256
6595   5150                    3                1                  217
6596   3950                    4                5                  174
6597   5969                    6                2                  257

      Prior_purchases  Discount_offered  Weight_in_gms  Warehouse_block_A  \
0                   5                 5           1590                  1
1                   2                44           1556                  0
2                  10                10           5674                  0
3                   3                27           1207                  0
4                   3                 7           4833                  1
5                   4                17           1137                  0
6                   2                 7           5653                  0
7                   3                 4           4683                  0
8                   4                 9           4028                  0
9                   3                10           4485                  1
10                  3                 3           4940                  0
11                  3                 3           4480                  0
12                  3                 6           5296                  1
13                  2                20           3419                  0
14                  5                 8           4292                  1
15                  4                 8           1038                  0
16                  5                48           2622                  0
17                  5                 3           4596                  0
18                 10                37           3402                  0
19                  4                 9           1224                  1
20                 10                 4           4679                  0
21                  3                 4           5463                  0
22                  3                12           3279                  1
23                  3                12           2017                  0
24                  3                 8           5653                  0
25                  4                12           3115                  0
26                  2                49           3736                  0
27                  3                 6           1057                  1
28                  3                 1           4392                  0
29                  4                32           2532                  0
...               ...               ...            ...                ...
6568                5                 9           1538                  0
6569                3                54           1332                  1
6570                6                 9           1192                  0
6571                3                50           1861                  0
6572                3                 7           4133                  0
6573                2                58           2187                  0
6574                3                 1           5834                  0
6575                3                 9           4551                  0
6576                3                 7           4020                  1
6577                3                 7           5185                  0
6578                3                 3           2169                  0
6579                3                25           1222                  0
6580                4                62           3997                  0
6581                4                 3           1503                  1
6582                2                 6           4966                  0
6583                2                 7           4684                  0
6584                3                13           2148                  0
6585                2                 7           4409                  0
6586                5                 5           1301                  0
6587                2                 2           4263                  0
6588                5                10           1841                  0
6589                3                38           1169                  0
6590                2                 8           5488                  0
6591                2                 2           4336                  0
6592                6                10           1978                  0
6593                6                 4           1952                  0
6594                3                10           4504                  0
6595                4                 1           5761                  0
6596                3                 8           5576                  0
6597                4                 1           1513                  0

      Warehouse_block_B  Warehouse_block_C  Warehouse_block_D  \
0                     0                  0                  0
1                     0                  0                  0
2                     0                  0                  0
3                     0                  0                  0
4                     0                  0                  0
5                     0                  1                  0
6                     0                  0                  0
7                     0                  0                  0
8                     0                  1                  0
9                     0                  0                  0
10                    1                  0                  0
11                    0                  1                  0
12                    0                  0                  0
13                    0                  0                  0
14                    0                  0                  0
15                    1                  0                  0
16                    0                  0                  1
17                    0                  0                  1
18                    0                  1                  0
19                    0                  0                  0
20                    0                  0                  0
21                    0                  1                  0
22                    0                  0                  0
23                    0                  1                  0
24                    0                  1                  0
25                    0                  0                  1
26                    0                  1                  0
27                    0                  0                  0
28                    0                  0                  0
29                    0                  0                  0
...                 ...                ...                ...
6568                  0                  1                  0
6569                  0                  0                  0
6570                  0                  0                  0
6571                  0                  0                  0
6572                  0                  0                  1
6573                  0                  0                  1
6574                  0                  0                  0
6575                  1                  0                  0
6576                  0                  0                  0
6577                  0                  0                  0
6578                  1                  0                  0
6579                  0                  0                  0
6580                  0                  1                  0
6581                  0                  0                  0
6582                  0                  0                  0
6583                  0                  1                  0
6584                  0                  0                  0
6585                  0                  1                  0
6586                  0                  0                  0
6587                  0                  0                  0
6588                  0                  1                  0
6589                  1                  0                  0
6590                  0                  1                  0
6591                  1                  0                  0
6592                  0                  0                  1
6593                  0                  0                  0
6594                  0                  0                  0
6595                  0                  0                  0
6596                  0                  0                  0
6597                  0                  1                  0

      Warehouse_block_F  Mode_of_Shipment_Flight  Mode_of_Shipment_Road  \
0                     0                        1                      0
1                     1                        0                      0
2                     1                        0                      1
3                     1                        0                      0
4                     0                        1                      0
5                     0                        0                      0
6                     1                        0                      0
7                     1                        0                      0
8                     0                        0                      0
9                     0                        0                      1
10                    0                        0                      0
11                    0                        0                      1
12                    0                        1                      0
13                    1                        0                      0
14                    0                        1                      0
15                    0                        0                      0
16                    0                        0                      1
17                    0                        0                      1
18                    0                        0                      0
19                    0                        0                      0
20                    1                        0                      0
21                    0                        0                      0
22                    0                        1                      0
23                    0                        0                      0
24                    0                        1                      0
25                    0                        0                      0
26                    0                        1                      0
27                    0                        1                      0
28                    1                        0                      1
29                    1                        0                      0
...                 ...                      ...                    ...
6568                  0                        1                      0
6569                  0                        0                      0
6570                  1                        0                      0
6571                  1                        0                      0
6572                  0                        1                      0
6573                  0                        0                      0
6574                  1                        1                      0
6575                  0                        0                      1
6576                  0                        1                      0
6577                  1                        0                      0
6578                  0                        0                      0
6579                  1                        0                      0
6580                  0                        0                      0
6581                  0                        1                      0
6582                  1                        0                      0
6583                  0                        0                      0
6584                  1                        0                      0
6585                  0                        0                      0
6586                  1                        0                      1
6587                  1                        0                      0
6588                  0                        0                      0
6589                  0                        0                      0
6590                  0                        0                      0
6591                  0                        0                      0
6592                  0                        0                      1
6593                  1                        0                      1
6594                  1                        0                      0
6595                  1                        0                      0
6596                  1                        0                      1
6597                  0                        0                      0

      Mode_of_Shipment_Ship  Product_importance_high  Product_importance_low  \
0                         0                        1                       0
1                         1                        0                       1
2                         0                        1                       0
3                         1                        0                       0
4                         0                        0                       1
5                         1                        1                       0
6                         1                        0                       1
7                         1                        0                       1
8                         1                        0                       0
9                         0                        0                       1
10                        1                        0                       0
11                        0                        0                       0
12                        0                        0                       1
13                        1                        0                       1
14                        0                        0                       1
15                        1                        0                       1
16                        0                        0                       1
17                        0                        0                       0
18                        1                        0                       0
19                        1                        0                       1
20                        1                        0                       1
21                        1                        0                       1
22                        0                        0                       1
23                        1                        0                       1
24                        0                        1                       0
25                        1                        0                       0
26                        0                        0                       0
27                        0                        0                       0
28                        0                        0                       1
29                        1                        0                       0
...                     ...                      ...                     ...
6568                      0                        0                       0
6569                      1                        0                       1

In [132]:
X_te = pd.get_dummies(X_te)

In [148]:
from sklearn.model_selection import train_test_split

x_tr, x_val, Y_tr, Y_val = train_test_split(X_tr, y_tr1, test_size = 0.2, random_state = 22)

In [135]:
print(Y_tr)

      Reached.on.Time_Y.N
4807                    1
2410                    1
953                     1
3044                    1
1198                    0
2294                    1
5122                    1
5181                    0
5379                    1
3388                    1
113                     1
1672                    0
4678                    1
6056                    1
3261                    1
2805                    1
2306                    0
4525                    0
5976                    1
4065                    1
2321                    1
6517                    1
5798                    1
6417                    1
4533                    1
3074                    1
1778                    0
6387                    0
1829                    1
6094                    0
...                   ...
6122                    1
5358                    0
4967                    0
5787                    1
3079                    0
3035                    1
5826                    0
2835                    0
5011                    0
2770                    1
4770                    1
1157                    0
2985                    1
5410                    0
935                     1
5213                    1
1018                    1
3629                    1
764                     0
5646                    1
5778                    1
989                     1
2527                    1
2952                    1
4587                    0
5478                    1
356                     1
4908                    1
6276                    1
2933                    0

[5278 rows x 1 columns]

In [149]:
from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score

rf = RandomForestClassifier(random_state=12)
rf.fit(x_tr, Y_tr)
pred = rf.predict_proba(x_val)[:,1]
# score = classification_report(Y_val, pred)
# print(score)
roc = roc_auc_score(Y_val, pred)
print(roc)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.7398156230493571

In [150]:
from xgboost import XGBClassifier

xgb = XGBClassifier(random_state = 15)
xgb.fit(x_tr, Y_tr)
pred1 = xgb.predict_proba(x_val)[:,1]
roc = roc_auc_score(Y_val, pred1)
print(roc)

C:\Users\김유경\AppData\Roaming\Python\Python37\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[00:19:29] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
0.7438045713745707

In [142]:
xgb = XGBClassifier(random_state = 15)
xgb.fit(X_tr, y_tr1)
pred2 = xgb.predict_proba(X_te)[:,1]
sub = pd.DataFrame({'ID' : X_te['ID'], 'Reached.on.Time_Y.N' : pred2})
sub.to_csv('00135000.csv', index = False)

[00:06:17] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [144]:
# 최종 제출값 평가 <-- 시험장에선 제출값 평가 불가
y_te = pd.read_csv('y_test.csv')
roc = roc_auc_score(y_te['Reached.on.Time_Y.N'], pred2)
print(roc)

0.7319783744354934