In [66]:
import pandas as pd

x_train = pd.read_csv('titanic_x_train.csv', encoding = 'cp949')
x_test = pd.read_csv('titanic_x_test.csv', encoding = 'cp949')
y_train = pd.read_csv('titanic_y_train.csv', encoding = 'cp949')

# print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
티켓등급           891 non-null int64
승객이름           891 non-null object
성별             891 non-null object
나이             714 non-null float64
형제자매배우자수       891 non-null int64
부모자식수          891 non-null int64
티켓번호           891 non-null object
운임요금           891 non-null float64
객실번호           204 non-null object
선착장            889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB
None

In [69]:
# print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
티켓등급        418 non-null int64
성별          418 non-null object
나이          332 non-null float64
형제자매배우자수    418 non-null int64
부모자식수       418 non-null int64
운임요금        417 non-null float64
선착장         418 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 22.9+ KB
None

In [21]:
# print(x_train.describe())

       PassengerId        티켓등급          나이    형제자매배우자수       부모자식수        운임요금
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [26]:
# print(len(x_train['객실번호'].unique()))

148

In [68]:
x_ID = x_test['PassengerId']
y_train = y_train['Survived']
x_train = x_train.drop(columns=['승객이름','PassengerId','티켓번호','객실번호'])
x_test = x_test.drop(columns=['승객이름','PassengerId','티켓번호','객실번호'])

In [70]:
x_train['선착장'] = x_train['선착장'].fillna('S')
mean = x_train['나이'].mean()
x_train['나이'] = x_train['나이'].fillna(mean)

In [76]:
mean1 = x_test['운임요금'].mean()
x_test['운임요금'] = x_test['운임요금'].fillna(mean1)
mean2 = x_test['나이'].mean()
x_test['나이'] = x_test['나이'].fillna(mean2)

In [77]:
x_train = pd.get_dummies(x_train, drop_first = True)
x_test = pd.get_dummies(x_test, drop_first = True)

In [78]:
# x_train.head()

   티켓등급    나이  형제자매배우자수  부모자식수     운임요금  성별_male  선착장_Q  선착장_S
0     3  22.0         1      0   7.2500        1      0      1
1     1  38.0         1      0  71.2833        0      0      0
2     3  26.0         0      0   7.9250        0      0      1
3     1  35.0         1      0  53.1000        0      0      1
4     3  35.0         0      0   8.0500        1      0      1

In [79]:
# from sklearn.model_selection import train_test_split

# x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size = 0.2, random_state=12)

In [80]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import roc_auc_score

# rf = RandomForestClassifier()
# rf.fit(x_tr, y_tr)
# pred = rf.predict_proba(x_val)[:,1]
# score = roc_auc_score(y_val, pred)
# print(score)

0.8374050632911394

In [94]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

rf1 = RandomForestClassifier()
rf1.fit(x_train, y_train)
pred1 = rf1.predict_proba(x_test)[:,1]
sub = pd.DataFrame({'PassengerId': x_ID, 'Survived' : pred1})
sub.to_csv('0100202020.csv', index = False)

In [95]:
# check = pd.read_csv('0100202020.csv')
# check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
PassengerId    418 non-null int64
Survived       418 non-null float64
dtypes: float64(1), int64(1)
memory usage: 6.6 KB

In [96]:
# check.head()

   PassengerId  Survived
0          892  0.034833
1          893  0.190000
2          894  0.200000
3          895  0.640000
4          896  0.430000